<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>952319816104-c8na5tv3g9lf68b5d9s4lphbaeahjrui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952319816104-c8na5tv3g9lf68b5d9s4lphbaeahjrui</string>
	<key>API_KEY</key>
	<string>AIzaSyDyjNHNulDOqHofEZf1uvPEYpEIS0wKpfc</string>
	<key>GCM_SENDER_ID</key>
	<string>952319816104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KarimArem.ProductFinder</string>
	<key>PROJECT_ID</key>
	<string>productfinder-f0d48</string>
	<key>STORAGE_BUCKET</key>
	<string>productfinder-f0d48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952319816104:ios:2c0942264538de86</string>
	<key>DATABASE_URL</key>
	<string>https://productfinder-f0d48.firebaseio.com</string>
</dict>
</plist>